{% extends 'base.html' %}

{% block title %}用户登录{% endblock %}

{% block content %}
    {% if form.errors %}
        <script>alert("Your username and password didn't match. Please try again.")</script>
    {% endif %}

{#    <div class="container">#}
{#        <h3>登录</h3>#}
{#        <form method="post" action="{% url 'login' %}" style="margin-top: 30px;">#}
{#            {% csrf_token %}#}
{#            <div class="input-field">#}
{#                <i class="material-icons prefix">account_circle</i>#}
{#                {{ form.username }}#}
{#                {{ form.username.label_tag }}#}
{#            </div>#}
{#            <div class="input-field">#}
{#                <i class="material-icons prefix">lock</i>#}
{#                {{ form.password }}#}
{#                {{ form.password.label_tag }}#}
{#            </div>#}
{#            <button class="btn waves-effect waves-light" type="submit" name="action">登录</button>#}
{#            <button class="btn waves-effect waves-light" type="button" onclick="window.location.href='{% url 'register' %}' ">注册</button>#}
{#            <input type="hidden" name="next" value="{{ next }}"/>#}
{#        </form>#}
{#    </div>#}

    <div class="row">
        <div class="col s12 m4 offset-m4" style="margin-top: 100px;">
            <div class="card">
                <div class="card-content">
                    <h5 class="center-align">登录</h5>
                    <form method="post" action="{% url 'login' %}" style="margin-top: 30px;">
                        {% csrf_token %}
                        <div class="input-field">
                            <i class="material-icons prefix">account_circle</i>
                            {{ form.username }}
                            {{ form.username.label_tag }}
                        </div>
                        <div class="input-field">
                            <i class="material-icons prefix">lock</i>
                            {{ form.password }}
                            {{ form.password.label_tag }}
                        </div>
                        <button class="btn waves-effect waves-light blue" type="button" id="signUp"
                                onclick="window.location.href='{% url 'register' %}' ">注册</button>
                        <button class="btn waves-effect waves-light blue" type="submit" name="action">登录</button>
                        <input type="hidden" name="next" value="{{ next }}"/>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <style>
        #signUp {
            margin-left: 310px;
        }

        @media screen and (max-width: 768px) {
            #signUp {
                margin-left: 90px;
            }
        }

        body {
            background-color: #fafafa;
        }

        .input-field input[type=text]:not(.browser-default):focus + label {
            color: #0d47a1;
        }

        .input-field input[type=password]:not(.browser-default):focus + label {
            color: #0d47a1;
        }

        .input-field input[type=text]:not(.browser-default):focus {
            border-bottom: 1px solid #0d47a1;
            box-shadow: 0 1px 0 0 #0d47a1;
        }

        .input-field input[type=password]:not(.browser-default):focus {
            border-bottom: 1px solid #0d47a1;
            box-shadow: 0 1px 0 0 #0d47a1;
        }

        .input-field .prefix.active {
            color: #0d47a1;
        }
    </style>

    {# Assumes you setup the password_reset view in your URLconf #}
    {#    <p><a href="{% url 'password_reset' %}">Lost password?</a></p>#}
{% endblock %}